body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #e6f7ff, #ffffff);
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.8em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main {
    margin: auto;
    padding: 20px;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Evita problemas de dimensionamento */
    background: #f8f9fa;
}

input:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
    background-color: #e6f7ff; /* Destaque ao selecionar */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a {
    display: inline-block;
    text-decoration: none;
    color: #007BFF;
    font-size: 1em;
    margin-top: 15px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}